* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, Sans-serif;
  position: relative;
  padding-bottom: 50px;
  min-height: 100%;
  background-color: #f7f7f7;
}

header {
  display: block;
  background-color: #3cbc8d;
  padding: 20px;
  border-bottom: 5px solid #757575;
}

h1 {
  font-weight: normal;
  padding: 1.5em;
  color: white;
  text-shadow: 1px 1px 0px #444;
  width: 1000px;
  margin: auto;
}

nav {
  background-color: #443a5c;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ddd;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  text-align: center;
  padding: 1em;
  margin-left: 5%;
}

nav li a {
  display: inline-block;
  padding: 10px;
}

main {
  overflow: auto;
  width: 1000px;
  margin: auto;
  box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7;
  padding-top: 20px;
}

footer {
  padding: 1em;
  background-color: #ffc9a7;
  font-size: 0.8em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  font-size: 1.2em;
  font-family: arial, helvetica, sans-serif;
}

input,
label,
select,
textarea {
  float: left;
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
}

label {
  clear: left;
  padding: 0;
  margin: 0;
}

form {
  overflow: auto;
  clear: both;
  display: block;
}

.errors {
  padding: 1em;
  border: 1px solid red;
  background-color: lightyellow;
  color: red;
  margin-bottom: 1em;
  overflow: auto;
}

.errors ul {
  margin-left: 1em;
}

form p {
  clear: both;
}

input[type="checkbox"] {
  float: left;
  clear: left;
  width: auto;
  margin-right: 10px;
}

input[type="checkbox"] + label {
  clear: right;
}

.categories a {
  color: white;
  text-decoration: none;
}

.categories li {
  margin-bottom: 1em;
}

.jokelist {
  overflow: hidden;
}

.jokes {
  padding: 1em;
  width: 74%;
}

.jokes ul {
  list-style-type: none;
  margin-top: 30px;
}

.jokes li {
  min-height: 85px;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}

.currentpage:before {
  content: "[";
}

.currentpage:after {
  content: "]";
}

#categories {
  width: 20%;
  background-color: #333;
  padding-top: 1em;
  padding-left: 1em;
}

#categories ul {
  list-style-type: none;
}

.info {
  width: 35%;
  float: left;
}

.text {
  width: 70%;
}

.column {
  float: left;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.inner-jokes {
  margin: 0;
}

.joke {
  float: left;
  width: 65%;
}

#pagination {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.joke-text {
  padding-right: 2%;
  padding-left: 2%;
}

input[type="submit"].delete-joke {
  width: auto;
  font-size: 1em;
}
